.foogallery-attachments-list .add-attachment {
    background: #ddd;
    box-shadow: 0 0 0 1px #ccc;
    width: 150px;
    position: relative;
    float: left;
    padding: 0;
    margin: 0 10px 20px;
    color: #464646;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.foogallery-attachments-list .add-attachment a {
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    text-align: center;
    width: 150px;
    height: 150px;
    color:#888;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.5;
}

	.foogallery-attachments-list .add-attachment a:hover {
    	opacity: 1;
	}

		.foogallery-attachments-list .add-attachment a div.dashicons {
			font-size:50px;
			width: 50px;
			height: 50px;
		}

		.foogallery-attachments-list .add-attachment a span {
			display: block;
		}


.foogallery-attachments-list .attachment-preview,
.foogallery-attachments-list .attachment-preview .thumbnail {
    width: 150px;
    height: 150px;
    cursor:move;
}

.foogallery-attachments-list .attachment.placeholder {
    width: 150px;
    height: 150px;
    border: #1e8cbe 1px dashed;
    background: #eee;
}

.foogallery-attachments-list .attachment {
    border: transparent 1px solid;
    box-shadow: none;
}

.foogallery-attachments-list .attachment.ui-sortable-helper {
    opacity: 0.5;
}

.foogallery-attachments-list .attachment.ui-sortable-helper:hover .close {
    display: none;
}

.foogallery-attachments-list input.describe {
	margin:0;
	width: 150px;
	font-size: 12px;
}