.foogallery-attachments-list .add-attachment {
    background: #ddd;
    box-shadow: 0 0 0 1px #ccc;
    width: 150px;
    position: relative;
    float: left;
    padding: 0;
    color: #464646;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.foogallery-attachments-list .add-attachment a {
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    text-align: center;
    width: 150px;
    height: 150px;
    color:#666;
    font-weight: bold;
    text-decoration: none;
}

	.foogallery-attachments-list .add-attachment a:hover {
		color:#444;
	}

		.foogallery-attachments-list .add-attachment a div.dashicons {
			font-size:50px;
			width: 50px;
			height: 50px;
		}

		.foogallery-attachments-list .add-attachment a span {
			display: block;
		}


.foogallery-attachments-list .attachment-preview,
.foogallery-attachments-list .attachment-preview .thumbnail {
    width: 150px;
    height: 150px;
    cursor:move;
}

.foogallery-attachments-list .attachment {
    border: transparent 1px solid;
    box-shadow: none !important;
	width: auto !important;
	padding: 0 !important;
}

.foogallery-attachments-list .attachment.placeholder {
	width: 150px !important;
	height: 150px;
	border: #1e8cbe 1px dashed;
	background: #eee;
}

.foogallery-attachments-list li {
	margin: 0px 10px 10px 0px !important;
}

.foogallery-attachments-list .attachment.ui-sortable-helper {
    opacity: 0.5;
}

.foogallery-attachments-list .attachment.ui-sortable-helper:hover .close {
    display: none;
}

.foogallery-attachments-list input.describe {
	margin:0;
	width: 150px;
	font-size: 12px;
}

.foogallery-attachments-list .attachment .attachment-preview a {
	display: none;
	position: absolute;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	background-color: #444;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

	.foogallery-attachments-list .attachment .attachment-preview:hover a {
		display: block;
	}

	.foogallery-attachments-list .attachment .attachment-preview a span {
		color:#fff;
	}

		.foogallery-attachments-list .attachment .attachment-preview a:hover span {
			color:#ddd;
		}

.foogallery-attachments-list .attachment .attachment-preview a.remove {
	top: 5px;
	right: 5px;
}

.foogallery-attachments-list .attachment .attachment-preview a.info {
	top: 5px;
	left: 5px;
}

.spacer {
	display: inline-block;
	width:30px;
}

.foogallery_template_field td {
	padding-bottom: 20px;
}

.foogallery_template_field th {
	vertical-align: top;
	text-align: left;
	padding-top: 0.3em;
	padding-right: 10px;
}

.foogallery_template_field textarea {
	min-width: 500px;
	min-height: 100px;
}

.foogallery_template_field.foogallery_template_field_type-help {
	border-bottom: none;
}

.foogallery_template_field.foogallery_template_field_type-help td {
	padding-bottom: 0;
}

.foogallery_template_field.foogallery_template_field_type-icon td {
	padding-bottom: 0;
}

.foogallery_metabox_field-icon label {
	display:inline-block;
	margin-right:10px;
	border:solid 3px transparent;
	background:#aaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:5px;
	line-height: 0;
	margin-bottom: 10px;
}

.foogallery_metabox_field-icon input:checked + label {
	border:solid 3px #444;
	background: #888;
}

.foogallery_metabox_field-icon label:hover {
	border:solid 3px #444;
}

.foogallery_template_field.foogallery_template_field_type-htmlicon td {
	padding-bottom: 0;
}

.foogallery_metabox_field-htmlicon label {
	display:inline-block;
	margin-right:10px;
	border:solid 3px transparent;
	background:#aaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:5px;
	line-height: 0;
	margin-bottom: 10px;
}

.foogallery_metabox_field-htmlicon input:checked + label {
	border:solid 3px #444;
	background: #888;
}

.foogallery_metabox_field-htmlicon label:hover {
	border:solid 3px #444;
}

.foogallery_metabox_field-thumb_size label {
	vertical-align: baseline;
}

.foogallery_metabox_field-thumb_size input[type="number"] {
	margin-right: 10px;
	margin-left: 10px;
}

.foogallery_template_field_type-text input.small-text {
	width: 65px;
	height: 28px;
	line-height: 1;
}

#foogallery_pages ul li:hover .row-actions { visibility: visible; }

.foogallery-shortcode {
	text-align: center;
}

.foogallery-shortcode input {
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-family: "courier new", courier;
	border: none;
	box-shadow: none;
	background: #efefef;
}

.wp-list-table .foogallery-shortcode {
	cursor: pointer;
	font-size: 1em;
	border: none;
	box-shadow: none;
	background: #efefef;
	font-family: "courier new", courier;
}

.foogallery-shortcode-message {
	font-style: italic;
	color: #2EA2CC !important;
}

.foogallery-help {
	position: relative;
	display: block;
	line-height: 19px;
	padding: 11px 10px 11px 40px;
	font-size: 14px;
	text-align: left;
	margin: 5px 0 0 2px;
	background-color: #F4F4FF;
	border-left: 4px solid #1e8cbe;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.foogallery-help:before {
	content: "\f223";
	font: 400 30px/1 dashicons !important;
	speak: none;
	color: #1e8cbe;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: bottom;
	position: absolute;
	left: 5px;
	margin-top: -15px;
	top: 50%;
	height: 1em;
}

#post-body.columns-2 #postbox-container-1 .foogallery-help {
	padding-left: 11px;
	margin-left: 5px;
}

#post-body.columns-2 #postbox-container-1 .foogallery-help:before {
	content: '';
}

/** <gallery settings styling overrides> **/

.foogallery-metabox-settings {
	width: 100%;
	border-collapse: collapse;
}

.foogallery-metabox-settings th {
	font-weight: normal;
	padding: 10px;
	width: 180px;
}

.foogallery-metabox-settings tr {
	border-bottom: solid 1px #EEE;
}

.foogallery-metabox-settings td {
	padding: 10px;
}

.foogallery_metabox_field-radio > input,
.foogallery_metabox_field-radio > label {
	margin-bottom: 10px;
	display: inline-block;
}

.foogallery_metabox_field-radio input[type="checkbox"],
.foogallery_metabox_field-radio input[type="radio"] {
	margin: 0 0 10px 0;
}

.foogallery_metabox_field-select select {
	min-width: 250px;
}

.foogallery-thumbsize-crop {
	margin-top: 10px;
}

.foogallery_metabox_field-checkboxlist > input,
.foogallery_metabox_field-checkboxlist > label {
	margin-bottom: 10px;
	display: inline-block;
}

.foogallery_metabox_field-checkboxlist input[type="checkbox"] {
	margin: 0 0 10px 0;
}

/** </gallery settings styling overrides> **/

.foogallery_metabox_custom_css {
	width: 100%;
	height: 10em;
}

.foo-nav-tabs a:focus {
	box-shadow: none;
	outline: 0;
}

.foogallery-thumbnail-preview {
	display: inline-block;
}

#foogallery_apply_retina_support_container {
	margin-top: 5px;
}

.widefat th.column-icon {
	width: 60px;
}

#foogallery_settings .inside {
	margin: 0;
	padding: 0;
}
/** Balloon.css **/
button[data-balloon]{overflow:visible}[data-balloon]{position:relative}[data-balloon]:after,[data-balloon]:before{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all .18s ease-out .18s;transition:all .18s ease-out .18s;bottom:100%;left:50%;position:absolute;z-index:10;-webkit-transform:translate(-50%,10px);-ms-transform:translate(-50%,10px);transform:translate(-50%,10px);-webkit-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon]:after{background:rgba(17,17,17,.9);border-radius:4px;color:#fff;content:attr(data-balloon);font-size:12px;padding:.5em 1em;white-space:nowrap;margin-bottom:11px}[data-balloon]:before{background:url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;background-size:100% auto;height:6px;width:18px;content:"";margin-bottom:5px}[data-balloon]:hover:after,[data-balloon]:hover:before,[data-balloon][data-balloon-visible]:after,[data-balloon][data-balloon-visible]:before{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;pointer-events:auto;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon].font-awesome:after{font-family:FontAwesome}[data-balloon][data-balloon-break]:after{white-space:pre}[data-balloon-pos=down]:after,[data-balloon-pos=down]:before{bottom:auto;left:50%;top:100%;-webkit-transform:translate(-50%,-10px);-ms-transform:translate(-50%,-10px);transform:translate(-50%,-10px)}[data-balloon-pos=down]:after{margin-top:11px}[data-balloon-pos=down]:before{background:url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;background-size:100% auto;height:6px;width:18px;margin-top:5px;margin-bottom:0}[data-balloon-pos=down]:hover:after,[data-balloon-pos=down]:hover:before,[data-balloon-pos=down][data-balloon-visible]:after,[data-balloon-pos=down][data-balloon-visible]:before{-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon-pos=left]:after,[data-balloon-pos=left]:before{bottom:auto;left:auto;right:100%;top:50%;-webkit-transform:translate(10px,-50%);-ms-transform:translate(10px,-50%);transform:translate(10px,-50%)}[data-balloon-pos=left]:after{margin-right:11px}[data-balloon-pos=left]:before{background:url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;background-size:100% auto;height:18px;width:6px;margin-right:5px;margin-bottom:0}[data-balloon-pos=left]:hover:after,[data-balloon-pos=left]:hover:before,[data-balloon-pos=left][data-balloon-visible]:after,[data-balloon-pos=left][data-balloon-visible]:before{-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon-pos=right]:after,[data-balloon-pos=right]:before{bottom:auto;left:100%;top:50%;-webkit-transform:translate(-10px,-50%);-ms-transform:translate(-10px,-50%);transform:translate(-10px,-50%)}[data-balloon-pos=right]:after{margin-left:11px}[data-balloon-pos=right]:before{background:url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;background-size:100% auto;height:18px;width:6px;margin-bottom:0;margin-left:5px}[data-balloon-pos=right]:hover:after,[data-balloon-pos=right]:hover:before,[data-balloon-pos=right][data-balloon-visible]:after,[data-balloon-pos=right][data-balloon-visible]:before{-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon-length]:after{white-space:normal}[data-balloon-length=small]:after{width:80px}[data-balloon-length=medium]:after{width:150px}[data-balloon-length=large]:after{width:260px}[data-balloon-length=xlarge]:after{width:90vw}@media screen and (min-width:768px){[data-balloon-length=xlarge]:after{width:380px}}[data-balloon-length=fit]:after{width:100%}

/** Balloon.css overrides **/
[data-balloon]:after,
[data-balloon]:before {
 	text-align: center;
	line-height: 1.2em;
}

.foogallery-items-view-switch-container.hidden {
	display: none;
}

.foogallery-items-view-switch-container {
	display: inline-block;
	margin-left: 10px;
}

.foogallery-items-view-switch {
	vertical-align: middle;
	display: inline-block;
}

	.foogallery-items-view-switch a {
		padding: 4px 10px;
		line-height: 12px;
		border: 1px solid #ccc;
		float: left;
		display: inline-block;
		text-decoration: none;
		margin-right: 10px;
		border-radius: 4px;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background: #f7f7f7;
		color: #555;
	}

	.foogallery-items-view-switch a:first-child:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.foogallery-items-view-switch a:last-child:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.foogallery-items-view-switch a:first-child {
		margin-right: 0;
	}

	.foogallery-items-view-switch a.current {
		background: #0085ba;
		color: #fff;
	}

	.foogallery-items-view-switch a+a {
		margin-left: -1px;
	}

.foogallery_preview_container {
	position: relative;
	padding: 10px;
}

.foogallery_preview_container.loading:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	opacity: 0.8;
	z-index: 159900;
}

.fs-submenu-item.foogallery {
	font-size: 13px;
	line-height: 1.2;
}

.foogallery_template_field_type-thumb_size_no_crop input.small-text+label {
	margin-left: 10px;
}

.foogallery_template_field_type-thumb_size_no_crop label+input {
	margin-left: 5px;
}