.mce-content-body div.foogallery-tinymce-view {
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	margin-bottom: 16px;
	border: 1px solid rgba(0, 0, 0, 0);
	width: 99.99%;
	clear: both;
	height: 250px;
	text-align: center;
}

.mce-content-body div.foogallery-tinymce-view .foogallery-tinymce-toolbar {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

	.mce-content-body div.foogallery-tinymce-view .foogallery-tinymce-toolbar .dashicons {
		margin-top: 7px;
		margin-left: 7px;
		padding: 2px;
		width: 30px;
		height: 30px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
		background-color: #000;
		background-color: rgba(0, 0, 0, 0.9);
		cursor: pointer;
		color: #FFF;
		font-size: 30px;
	}

	.mce-content-body div.foogallery-tinymce-view .foogallery-tinymce-toolbar .dashicons:hover {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
		background-color: #000;
		color: #2EA2CC;
	}

.mce-content-body div.foogallery-tinymce-view.foogallery-tinymce-selected {
	border-color: rgba(0, 0, 0, 0.3);
}

	.mce-content-body div.foogallery-tinymce-view.foogallery-tinymce-selected .foogallery-tinymce-toolbar {
		display: block;
	}

.mce-content-body div.foogallery-tinymce-view .foogallery-pile {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	margin-left: -83px;
	margin-top: -95px;
}

/* Image styles */
.mce-content-body div.foogallery-tinymce-view .foogallery-pile .foogallery-pile-inner { max-width: 100%; height: auto; vertical-align: bottom; border: 8px solid #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	background: #CCC;
	font-size: 0;
}

/* Stacks creted by the use of generated content */
.mce-content-body div.foogallery-tinymce-view .foogallery-pile:before, .foogallery-pile:after { content: ""; width: 100%; height: 100%; position: absolute; border: 8px solid #fff; left: 0;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* 1st element in stack (behind image) */
.mce-content-body div.foogallery-tinymce-view .foogallery-pile:before {
	top: 0;
	z-index: -10;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
/* 2nd element in stack (behind image) */
.mce-content-body div.foogallery-tinymce-view .foogallery-pile:after {
	top: 1px;
	z-index: -20;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
}

.mce-content-body div.foogallery-tinymce-view .foogallery-pile-inner img {
	max-width: 150px;
}

.mce-content-body div.foogallery-tinymce-view .foogallery-tinymce-title {
	font-family: "Open Sans", sans-serif;
	font-size: 1.2em;
	color: #666;
	position: absolute;
	bottom: 1em;
	width: 100%;
	left: 0;
}

.mce-content-body div.foogallery-tinymce-view .foogallery-tinymce-count {
	font-family: "Open Sans", sans-serif;
	font-size: 0.7em;
	color: #888;
	position: absolute;
	bottom: 0.5em;
	width: 100%;
	left: 0;
}