.foogallery-attachments-list .add-attachment {
    background: #ddd;
    box-shadow: 0 0 0 1px #ccc;
    width: 150px;
    position: relative;
    float: left;
    padding: 0;
    color: #464646;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.foogallery-attachments-list .add-attachment a {
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    text-align: center;
    width: 150px;
    height: 150px;
    color:#666;
    font-weight: bold;
    text-decoration: none;
}

	.foogallery-attachments-list .add-attachment a:hover {
		color:#444;
	}

		.foogallery-attachments-list .add-attachment a div.dashicons {
			font-size:50px;
			width: 50px;
			height: 50px;
		}

		.foogallery-attachments-list .add-attachment a span {
			display: block;
		}


.foogallery-attachments-list .attachment-preview,
.foogallery-attachments-list .attachment-preview .thumbnail {
    width: 150px;
    height: 150px;
    cursor:move;
}

.foogallery-attachments-list .attachment {
    border: transparent 1px solid;
    box-shadow: none !important;
	width: auto !important;
	padding: 0 !important;
}

.foogallery-attachments-list .attachment.placeholder {
	width: 150px !important;
	height: 150px;
	border: #1e8cbe 1px dashed;
	background: #eee;
}

.foogallery-attachments-list li {
	margin: 0px 10px 10px 0px !important;
}

.foogallery-attachments-list .attachment.ui-sortable-helper {
    opacity: 0.5;
}

.foogallery-attachments-list .attachment.ui-sortable-helper:hover .close {
    display: none;
}

.foogallery-attachments-list input.describe {
	margin:0;
	width: 150px;
	font-size: 12px;
}

.foogallery-attachments-list .attachment .attachment-preview a {
	display: none;
	position: absolute;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	background-color: #444;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

	.foogallery-attachments-list .attachment .attachment-preview:hover a {
		display: block;
	}

	.foogallery-attachments-list .attachment .attachment-preview a span {
		color:#fff;
	}

		.foogallery-attachments-list .attachment .attachment-preview a:hover span {
			color:#ddd;
		}

.foogallery-attachments-list .attachment .attachment-preview a.remove {
	top: 5px;
	right: 5px;
}

.foogallery-attachments-list .attachment .attachment-preview a.info {
	top: 5px;
	left: 5px;
}

.spacer {
	display: inline-block;
	width:30px;
}

.gallery_template_field td {
	padding-bottom: 20px;
}

.gallery_template_field th {
	vertical-align: top;
	text-align: left;
	padding-top: 0.3em;
	padding-right: 10px;
}

.gallery_template_field textarea {
	min-width: 500px;
	min-height: 100px;
}

.foogallery_metabox_field-icon label {
	display:inline-block;
	margin-right:10px;
	border:solid 3px transparent;
	background:#aaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:5px;
	line-height: 0;
}

.foogallery_metabox_field-icon input:checked + label {
	border:solid 3px #444;
	background: #888;
}

.foogallery_metabox_field-icon label:hover {
	border:solid 3px #444;
}

.foogallery_metabox_field-thumb_size label {
	vertical-align: baseline;
}

.foogallery_metabox_field-thumb_size input[type="number"] {
	margin-right: 10px;
}

#foogallery_pages ul li:hover .row-actions { visibility: visible; }

.foogallery-shortcode {
	text-align: center;
}

.foogallery-shortcode input {
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-family: "courier new", courier;
	border: none;
	box-shadow: none;
	background: #efefef;
}

.wp-list-table .foogallery-shortcode {
	cursor: pointer;
	font-size: 1em;
	border: none;
	box-shadow: none;
	background: #efefef;
	font-family: "courier new", courier;
}

.foogallery-shortcode-message {
	font-style: italic;
	color: #2EA2CC !important;
}

.foogallery-help {
	position: relative;
	display: block;
	line-height: 19px;
	padding: 11px 15px 11px 40px;
	font-size: 14px;
	text-align: left;
	margin: 5px 0 20px 2px;
	background-color: #F4F4FF;
	border-left: 4px solid #1e8cbe;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.foogallery-help:before {
	content: "\f223";
	font: 400 30px/1 dashicons !important;
	speak: none;
	color: #1e8cbe;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: bottom;
	position: absolute;
	left: 5px;
	margin-top: -15px;
	top: 50%;
	height: 1em;
}

.foogallery-metabox-settings {
	width: 100%;
}

.gallery_template_field h4 {
	font-size: 1.2em;
	border-bottom: solid 1px #EEE;
	padding-bottom: 5px;
}

.foogallery_metabox_custom_css {
	width: 100%;
	height: 10em;
}

.foo-nav-tabs a:focus {
	box-shadow: none;
	outline: 0;
}

.foogallery-thumbnail-preview {
	display: inline-block;

}