.foogallery-simple_portfolio.brickfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff url(data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA) no-repeat center center;
	height: 200px;
	/* The brickfolio container must have a width set and it is recommended to make the min-width the same as the item width. */
	width: 100%;
	min-width: 250px;
}

.foogallery-simple_portfolio.brickfolio.bf-loaded {
	background: transparent;
}

.foogallery-simple_portfolio .bf-item {
	display: none;
	background-color: #FFF;
	color: #333333;
	max-width: 100%;
}
.foogallery-simple_portfolio.bf-loaded .bf-item {
	display: inline-block;
}

.foogallery-simple_portfolio .bf-item > a {
	display: inline-block;
	line-height: 0;
	max-width: 100%;
}

.foogallery-simple_portfolio .bf-item > a,
.foogallery-simple_portfolio .bf-item > a:hover,
.foogallery-simple_portfolio .bf-item > a:active,
.foogallery-simple_portfolio .bf-item > a:visited,
.foogallery-simple_portfolio .bf-item > a > img {
	border: none;
	outline: none;
	text-decoration: none;
	box-shadow: none;
}

.foogallery-simple_portfolio .bf-item > a > img {
	display: block;
	margin: 0;
	max-width: 100%;
	height: auto;
}
.foogallery-simple_portfolio.bf-captions-above .bf-item > a {
	position: absolute;
	bottom: 0;
	left: 0;
}

.foogallery-simple_portfolio .bf-caption > h4 {
	margin: 0;
	padding: 10px 0;
	border-bottom: solid 3px #333333;
}

.foogallery-simple_portfolio .bf-caption > p {
	font-size: 0.8em;
	text-align: justify;
	margin: 5px 0;
}