/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss which makes it higher in priority.
 */

.foogallery__toolbar-group .components-button.has-icon .dashicon {
  margin-left: 0;
  margin-right: 0;
}

.foogallery__placeholder .components-placeholder__label .dashicon {
  margin-right: .5em;
}