/* Styles for the pop-up */
.foogallery-upload-popup-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.foogallery-upload-popup-content {
    background-color: #fff;
    border: 1px solid #999;
    max-height: 80%;
    overflow: auto;
    padding: 5px 20px;
    position: relative;
    width: 80%;
}

.foogallery-upload-close-button {
    cursor: pointer;
    font-size: 35px;
    position: fixed;
    right: 6%;
    top: 20px;
}

