.foogallery-inspector-controls__button-container {
  text-align: center;
  padding: 16px;
}

.foogallery-inspector-controls__button-container button {
  display: inline-flex;
  vertical-align: middle;
}