.fg-paging-container, .fg-paging-container *, .fg-paging-container *:before, .fg-paging-container *:after {
	box-sizing: border-box;
}
.fg-paging-container {
	display: block;
	padding: 15px;
	margin: 0!important;
	text-align: center;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Utility */
.fg-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.fg-ph-dots:after {
	display: block;
	content: '';
	width: 0;
	height: 22px;
}

.fg-paging-container .fg-dots,
.fg-paging-container .fg-dot-item {
	display: inline-block;
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
}
.fg-paging-container .fg-dot-item .fg-dot-link {
	display: inline-block;
	margin: 3px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none;
	text-decoration: none;
	border: 1px solid transparent;
	position: relative;
	border-radius: 50%;
	padding: 0;
	font-size: 0;
	outline: none;
	color: transparent;
	box-shadow: none;
}
.fg-paging-container .fg-dot-item .fg-dot-link:before {
	content: "";
	background-color: transparent;
	border: 1px solid transparent;
	display: block;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	padding: 0;
	margin: 2px;
}
.fg-paging-container .fg-dot-item .fg-dot-link:active,
.fg-paging-container .fg-dot-item .fg-dot-link:hover,
.fg-paging-container .fg-dot-item .fg-dot-link:focus {
	text-decoration: none;
	box-shadow: none;
	outline: none;
}
.fg-paging-container .fg-dot-item.fg-disabled .fg-dot-link,
.fg-paging-container .fg-dot-item.fg-selected .fg-dot-link {
	cursor: not-allowed;
	pointer-events: none;
}
.fg-paging-container .fg-dot-item.fg-disabled .fg-dot-link {
	cursor: not-allowed;
	pointer-events: none;
	outline: none;
}

/* Light - Dots */
.fg-paging-container.fg-light .fg-dot-item .fg-dot-link,
.fg-paging-container.fg-light .fg-dot-item .fg-dot-link:before {
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
	transition-property: color, border-color, background-color;
}
.fg-paging-container.fg-light .fg-dot-item .fg-dot-link {
	background-color: #eee;
	border-color: #9d9d9d;
}
.fg-paging-container.fg-light .fg-dot-item.fg-selected .fg-dot-link {
	border-color: #888;
}
.fg-paging-container.fg-light .fg-dot-item.fg-selected .fg-dot-link:before,
.fg-paging-container.fg-light .fg-dot-item .fg-dot-link:hover:before,
.fg-paging-container.fg-light .fg-dot-item .fg-dot-link:focus:before {
	background-color: #666;
	border-color: #888;
}
.fg-paging-container.fg-light .fg-dot-item.fg-disabled .fg-dot-link,
.fg-paging-container.fg-light .fg-dot-item.fg-disabled .fg-dot-link:hover,
.fg-paging-container.fg-light .fg-dot-item.fg-disabled .fg-dot-link:focus {
	background-color: #eee;
	border-color: #9d9d9d;
	opacity: 0.5;
}

/* Dark - Dots */
.fg-paging-container.fg-dark .fg-dot-item .fg-dot-link,
.fg-paging-container.fg-dark .fg-dot-item .fg-dot-link:before {
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
	transition-property: color, border-color, background-color;
}
.fg-paging-container.fg-dark .fg-dot-item .fg-dot-link {
	background-color: #666;
	border-color: #333;
}
.fg-paging-container.fg-dark .fg-dot-item.fg-selected .fg-dot-link {
	border-color: #444;
}
.fg-paging-container.fg-dark .fg-dot-item.fg-selected .fg-dot-link:before,
.fg-paging-container.fg-dark .fg-dot-item .fg-dot-link:hover:before,
.fg-paging-container.fg-dark .fg-dot-item .fg-dot-link:focus:before {
	background-color: #333;
	border-color: #444;
}
.fg-paging-container.fg-dark .fg-dot-item.fg-disabled .fg-dot-link,
.fg-paging-container.fg-dark .fg-dot-item.fg-disabled .fg-dot-link:hover,
.fg-paging-container.fg-dark .fg-dot-item.fg-disabled .fg-dot-link:focus {
	background-color: #666;
	border-color: #333;
	opacity: 0.5;
}
/* Base styles */
.fg-default:after {
	content: '';
	display: block;
	clear: both;
}

.fg-default .fg-item,
.fg-default .fg-item-inner,
.fg-default .fg-thumb {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

.fg-default .fg-image {
	border-radius: 0;
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Horizontal alignment */
.fg-default .fg-image {
	vertical-align: top;
}

.fg-default.fg-left {
	text-align: left;
}

.fg-default.fg-center {
	text-align: center;
}

.fg-default.fg-right {
	text-align: right;
}

/* Gutter widths */
.fg-default.fg-gutter-5 {
	padding-left: 5px;
	margin-bottom: -5px;
}
.fg-default.fg-gutter-5 .fg-item {
	margin-right: 5px;
	margin-bottom: 5px;
}

.fg-default.fg-gutter-10 {
	padding-left: 10px;
	margin-bottom: -10px;
}
.fg-default.fg-gutter-10 .fg-item {
	margin-right: 10px;
	margin-bottom: 10px;
}

.fg-default.fg-gutter-15 {
	padding-left: 15px;
	margin-bottom: -15px;
}
.fg-default.fg-gutter-15 .fg-item {
	margin-right: 15px;
	margin-bottom: 15px;
}

.fg-default.fg-gutter-20 {
	padding-left: 20px;
	margin-bottom: -20px;
}
.fg-default.fg-gutter-20 .fg-item {
	margin-right: 20px;
	margin-bottom: 20px;
}

.fg-default.fg-gutter-25 {
	padding-left: 25px;
	margin-bottom: -25px;
}
.fg-default.fg-gutter-25 .fg-item {
	margin-right: 25px;
	margin-bottom: 25px;
}
/* Base styles */
.fg-masonry * {
	box-sizing: border-box;
}
.foogallery.fg-masonry.fg-center {
	margin: 0 auto;
}
.fg-masonry .fg-thumb {
	display: block;
}
.fg-masonry.fg-masonry-fixed .fg-thumb {
	display: inline-block;
}
.fg-masonry.fg-masonry-fixed .fg-image {
	max-width: 100%;
}

.fg-masonry .fg-column-width {
	display: inline-block;
	visibility: hidden;
	height: 0;
	border: solid 0 transparent;
}

.fg-masonry.fg-masonry-5col .fg-image,
.fg-masonry.fg-masonry-4col .fg-image,
.fg-masonry.fg-masonry-3col .fg-image,
.fg-masonry.fg-masonry-2col .fg-image {
	width: 100%;
	height: auto;
	max-width: 100%;
}

.fg-masonry .fg-item {
	line-height: 0;
	font-size: 0;
}
.fg-masonry.fg-masonry-fixed .fg-item,
.fg-masonry.fg-masonry-fixed .fg-column-width {
	max-width: 100%;
}

/* 2 column layouts */
/* 2 column layout - normal gutter */
.fg-masonry.fg-masonry-2col .fg-item { margin-bottom: 1%; width: 49%; }
.fg-masonry.fg-masonry-2col .fg-column-width { width: 49%; }
.fg-masonry.fg-masonry-2col .fg-gutter-width { width: 1%; }

/* 2 column layout - no gutter */
.fg-masonry.fg-masonry-2col.fg-gutter-none .fg-item { margin-bottom: 0; width: 50%; }
.fg-masonry.fg-masonry-2col.fg-gutter-none .fg-column-width { width: 50%; }
.fg-masonry.fg-masonry-2col.fg-gutter-none .fg-gutter-width { width: 0; }

/* 2 column layout - large gutter */
.fg-masonry.fg-masonry-2col.fg-gutter-large .fg-item { margin-bottom: 3%; width: 47%; }
.fg-masonry.fg-masonry-2col.fg-gutter-large .fg-column-width { width: 47%; }
.fg-masonry.fg-masonry-2col.fg-gutter-large .fg-gutter-width { width: 3%; }

/* 3 column layouts */
/* 3 column layout - normal gutter */
.fg-masonry.fg-masonry-3col .fg-item { margin-bottom: 1%; width: 32%; }
.fg-masonry.fg-masonry-3col .fg-column-width { width: 32%; }
.fg-masonry.fg-masonry-3col .fg-gutter-width { width: 1%; }

/* 3 column layout - no gutter */
.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-item { margin-bottom: 0; width: 33%; }
.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-column-width { width: 33%; }
.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-gutter-width { width: 0; }

/* 3 column layout - large gutter */
.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-item { margin-bottom: 3%; width: 30%; }
.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-column-width { width: 30%; }
.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-gutter-width { width: 3%; }

/* 4 column layouts */
/* 4 column layout - normal gutter */
.fg-masonry.fg-masonry-4col .fg-item { margin-bottom: 1%; width: 24%; }
.fg-masonry.fg-masonry-4col .fg-column-width { width: 24%; }
.fg-masonry.fg-masonry-4col .fg-gutter-width { width: 1%; }

/* 4 column layout - no gutter */
.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-item { margin-bottom: 0; width: 25%; }
.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-column-width { width: 25%; }
.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-gutter-width { width: 0; }

/* 4 column layout - large gutter */
.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-item { margin-bottom: 3%; width: 22%; }
.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-column-width { width: 22%; }
.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-gutter-width { width: 3%; }

/* 5 column layouts */
/* 5 column layout - normal gutter */
.fg-masonry.fg-masonry-5col .fg-item { margin-bottom: 1%; width: 19%; }
.fg-masonry.fg-masonry-5col .fg-column-width { width: 19%; }
.fg-masonry.fg-masonry-5col .fg-gutter-width { width: 1%; }

/* 5 column layout - no gutter */
.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-item { margin-bottom: 0; width: 20%; }
.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-column-width { width: 20%; }
.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-gutter-width { width: 0; }

/* 5 column layout - large gutter */
.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-item { margin-bottom: 3%; width: 17%; }
.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-column-width { width: 17%; }
.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-gutter-width { width: 3%; }

/* Force 3 column layout < 720px */
@media screen and (max-width: 720px) {
	/* default gutter */
	.fg-masonry.fg-masonry-5col .fg-item,
	.fg-masonry.fg-masonry-4col .fg-item { margin-bottom: 1%; width: 32%; }
	.fg-masonry.fg-masonry-5col .fg-column-width,
	.fg-masonry.fg-masonry-4col .fg-column-width { width: 32%; }
	.fg-masonry.fg-masonry-5col .fg-gutter-width,
	.fg-masonry.fg-masonry-4col .fg-gutter-width { width: 1%; }

	/* no gutter */
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-item,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-item { margin-bottom: 0; width: 33%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-column-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-column-width { width: 33%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-gutter-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-gutter-width { width: 0; }

	/* large gutter */
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-item,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-item { margin-bottom: 3%; width: 30%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-column-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-column-width { width: 30%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-gutter-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-gutter-width { width: 3%; }

}

/* Force 2 column layout < 480px */
@media screen and (max-width: 480px) {
	/* default gutter */
	.fg-masonry.fg-masonry-5col .fg-item,
	.fg-masonry.fg-masonry-4col .fg-item,
	.fg-masonry.fg-masonry-3col .fg-item { margin-bottom: 1%; width: 49%; }
	.fg-masonry.fg-masonry-5col .fg-column-width,
	.fg-masonry.fg-masonry-4col .fg-column-width,
	.fg-masonry.fg-masonry-3col .fg-column-width { width: 49%; }
	.fg-masonry.fg-masonry-5col .fg-gutter-width,
	.fg-masonry.fg-masonry-4col .fg-gutter-width,
	.fg-masonry.fg-masonry-3col .fg-gutter-width { width: 1%; }

	/* no gutter */
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-item,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-item,
	.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-item { margin-bottom: 0; width: 50%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-column-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-column-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-column-width { width: 50%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-gutter-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-gutter-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-gutter-width { width: 0; }

	/* large gutter */
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-item,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-item,
	.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-item { margin-bottom: 3%; width: 47%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-column-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-column-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-column-width { width: 47%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-gutter-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-gutter-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-gutter-width { width: 3%; }
}

/* Force 1 column layout < 320px */
@media screen and (max-width: 320px) {
	/* default gutter */
	.fg-masonry.fg-masonry-5col .fg-item,
	.fg-masonry.fg-masonry-4col .fg-item,
	.fg-masonry.fg-masonry-3col .fg-item,
	.fg-masonry.fg-masonry-2col .fg-item { margin-bottom: 1%; width: 100%; }
	.fg-masonry.fg-masonry-5col .fg-column-width,
	.fg-masonry.fg-masonry-4col .fg-column-width,
	.fg-masonry.fg-masonry-3col .fg-column-width,
	.fg-masonry.fg-masonry-2col .fg-column-width { width: 100%; }
	.fg-masonry.fg-masonry-5col .fg-gutter-width,
	.fg-masonry.fg-masonry-4col .fg-gutter-width,
	.fg-masonry.fg-masonry-3col .fg-gutter-width,
	.fg-masonry.fg-masonry-2col .fg-gutter-width { width: 0; }

	/* no gutter */
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-item,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-item,
	.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-item,
	.fg-masonry.fg-masonry-2col.fg-gutter-none .fg-item { margin-bottom: 0; width: 100%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-column-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-column-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-column-width,
	.fg-masonry.fg-masonry-2col.fg-gutter-none .fg-column-width { width: 100%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-none .fg-gutter-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-none .fg-gutter-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-none .fg-gutter-width,
	.fg-masonry.fg-masonry-2col.fg-gutter-none .fg-gutter-width { width: 0; }

	/* large gutter */
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-item,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-item,
	.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-item,
	.fg-masonry.fg-masonry-2col.fg-gutter-large .fg-item { margin-bottom: 3%; width: 100%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-column-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-column-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-column-width,
	.fg-masonry.fg-masonry-2col.fg-gutter-large .fg-column-width { width: 100%; }
	.fg-masonry.fg-masonry-5col.fg-gutter-large .fg-gutter-width,
	.fg-masonry.fg-masonry-4col.fg-gutter-large .fg-gutter-width,
	.fg-masonry.fg-masonry-3col.fg-gutter-large .fg-gutter-width,
	.fg-masonry.fg-masonry-2col.fg-gutter-large .fg-gutter-width { width: 0; }
}

/* Border Styles - We must apply width changing border styles to the fg-column-width element so that the plugin can correctly determine the item widths. */
.foogallery.fg-border-thin .fg-column-width {
	border-width: 4px;
}
.foogallery.fg-border-medium .fg-column-width {
	border-width: 10px;
}
.foogallery.fg-border-thick .fg-column-width {
	border-width: 16px;
}

/* Captions Bottom */
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner .fg-caption {
	visibility: visible;
	opacity: 1;
	font-size: 13px;
	position: relative;
	display: block;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	width: auto;
	height: auto;
	text-transform: none;
	transform: none;
	transition: none;
	background-color: transparent;
	border-style: solid;
	border-color: transparent;
}
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner:hover .fg-caption {
	transform: none;
	transition: none;
}
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner .fg-caption-inner {
	display: block;
	position: relative;
	max-height: none;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	width: auto;
	height: auto;
	border: none;
	transform: none;
	transition: none;
}
.foogallery.fg-masonry.fg-captions-bottom .fg-item-inner .fg-caption-inner:before {
	display: none;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-caption-hover .fg-item-inner .fg-image-overlay {
	display: block;
}
.foogallery.fg-masonry.fg-captions-bottom.fg-caption-always .fg-item-inner:hover .fg-caption {
	visibility: visible;
	opacity: 1;
}

.fg-masonry.fg-captions-bottom .fg-caption-title,
.fg-masonry.fg-captions-bottom .fg-caption-desc {
	text-align: left;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-caption,
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption {
	color: #828282;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-caption a,
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption a {
	color: #828282;
	border-bottom: 1px solid #828282;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-caption a:hover,
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption a:hover {
	border-bottom: none;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-caption-title,
.fg-masonry.fg-captions-bottom.fg-light .fg-caption-title a {
	color: #222;
}
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption-title,
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption-title a {
	color: #FFF;
}
.fg-masonry.fg-captions-bottom.fg-light .fg-caption-title a {
	border-bottom: 1px solid #222;
}
.fg-masonry.fg-captions-bottom.fg-dark .fg-caption-title a {
	border-bottom: 1px solid #FFF;
}

/* Handle Border Sizing for Captions Below */
.fg-masonry.fg-captions-bottom .fg-caption {
	border-width: 10px;
}
.fg-masonry.fg-captions-bottom .fg-caption-title+.fg-caption-desc {
	margin-top: 4px;
}
.fg-masonry.fg-captions-bottom.fg-border-thin .fg-caption {
	border-width: 10px 4px 4px 4px;
}
.fg-masonry.fg-captions-bottom.fg-border-medium .fg-caption {
	border-width: 10px 0 0 0;
}
.fg-masonry.fg-captions-bottom.fg-border-thick .fg-caption {
	border-width: 16px 0 0 0;
}
.fg-masonry.fg-captions-bottom.fg-border-thick .fg-caption-title+.fg-caption-desc {
	margin-top: 10px;
}

/* Transparent Theme */
.fg-masonry.fg-transparent .fg-item-inner {
	background-color: transparent;
	color: #333;
	border-color: transparent;
}

/* Captions */
.fg-masonry.fg-transparent .fg-caption {
	color: #7f7f7f;
}
.fg-masonry.fg-transparent.fg-captions-bottom .fg-caption {
	border-width: 0;
	border-top-width: 10px;
	border-bottom-width: 10px;
}
.fg-masonry.fg-transparent .fg-caption a {
	color: #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
}
.fg-masonry.fg-transparent .fg-caption a:hover {
	border-bottom: none;
}
.fg-masonry.fg-transparent .fg-caption-title,
.fg-masonry.fg-transparent .fg-caption-title a {
	color: #333;
}
.fg-masonry.fg-transparent .fg-caption-title a {
	border-bottom: 1px solid #333;
}

/* Rounded Corners */
.fg-masonry.fg-transparent.fg-round-full .fg-item,
.fg-masonry.fg-transparent.fg-round-full .fg-item-inner {
	border-radius: 15px;
}
.fg-masonry.fg-transparent.fg-round-full .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-full .fg-image-overlay,
.fg-masonry.fg-transparent.fg-round-full.fg-shadow-inset-small .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-full.fg-shadow-inset-medium .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-full.fg-shadow-inset-large .fg-thumb:after {
	border-radius: 50%;
	overflow: hidden;
}

.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	overflow: hidden;
}
.fg-masonry.fg-transparent.fg-round-small.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-small.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-small.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	border-radius: 5px;
}
.fg-masonry.fg-transparent.fg-round-medium.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-medium.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-medium.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	border-radius: 10px;
}
.fg-masonry.fg-transparent.fg-round-large.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-large.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-large.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-masonry.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
	border-radius: 15px;
}

/* Shadows */
.fg-masonry.fg-transparent.fg-shadow-inset-small .fg-thumb:after {
	box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.3);
}
.fg-masonry.fg-transparent.fg-shadow-inset-medium .fg-thumb:after {
	box-shadow: inset 0 1px 10px 0 rgba(0,0,0,0.3);
}
.fg-masonry.fg-transparent.fg-shadow-inset-large .fg-thumb:after {
	box-shadow: inset 0 1px 16px 0 rgba(0,0,0,0.3);
}

.fg-masonry.fg-transparent.fg-shadow-outline .fg-item-inner {
	box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.5);
}
.fg-masonry.fg-transparent.fg-shadow-small .fg-item-inner {
	box-shadow: 0 1px 4px 0 rgba(128, 128, 128, 0.5);
}
.fg-masonry.fg-transparent.fg-shadow-medium .fg-item-inner {
	box-shadow: 0 1px 10px 0 rgba(128, 128, 128, 0.5);
}
.fg-masonry.fg-transparent.fg-shadow-large .fg-item-inner {
	box-shadow: 0 1px 16px 0 rgba(128, 128, 128, 0.5);
}
/* Base Styles */
.fg-justified {
	box-sizing: border-box;
	position: relative;
}
.foogallery.fg-justified .fg-item,
.foogallery.fg-justified .fg-item-inner,
.foogallery.fg-justified .fg-thumb,
.foogallery.fg-justified .fg-image {
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
}
.fg-justified .fg-item {
	visibility: visible;
	position: relative;
}
.fg-justified .fg-item-inner {
	position: relative;
	width: 100%;
	height: 100%;
}
.fg-justified .fg-thumb {
	position: relative;
	overflow: hidden;
}
.fg-justified .fg-image {
	z-index: 1;
}
.fg-justified .fg-item.fg-positioned .fg-thumb,
.fg-justified .fg-item.fg-positioned .fg-image-wrap {
	width: 100%;
	height: 100%;
}
.fg-justified .fg-item.fg-positioned .fg-image {
	width: 100%;
	height: auto;
	min-height: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.fg-justified.fg-hover-zoomed .fg-item.fg-positioned:hover .fg-image {
	transform: translateY(-50%) scale(1.15);
}
/* CSS justified layout. */
.foogallery.fg-justified-css {
	position: relative;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: stretch;
	flex-wrap: wrap;
}
.foogallery.fg-justified-css:after {
	display: block;
	content: '';
	flex-shrink: 0;
	flex-grow: 10;
	min-width: 60px;
}
.foogallery.fg-justified-css .fg-item,
.foogallery.fg-justified-css .fg-item-inner,
.foogallery.fg-justified-css .fg-thumb,
.foogallery.fg-justified-css .fg-image {
	display: block;
}

.foogallery.fg-justified-css .fg-item {
	flex-shrink: 0;
	flex-grow: 1;
	margin: 5px;
}
.foogallery.fg-justified-css .fg-thumb {

}
.foogallery.fg-justified-css .fg-image-wrap {
	display: flex;
	align-items: center;
	justify-content: stretch;
	overflow: hidden;
}
.foogallery.fg-justified-css .fg-image {
	width: 100%;
	height: auto;
}
.fg-simple_portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
.fg-simple_portfolio .fg-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 10px;
    max-width: 100%;
}
.fg-simple_portfolio .fg-item-inner {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}
.fg-simple_portfolio.fg-captions-top .fg-item-inner {
    flex-direction: column-reverse;
}
.fg-simple_portfolio .fg-image {
    height: auto;
    width: 100%;
}

/* Some badly written themes apply min-width:0 and min-height:0 to every element in the page which causes layout issues with flex. */
.fg-simple_portfolio .fg-thumb {
    min-width: auto;
    min-height: auto;
}

/* Reset captions for the portfolio */
.foogallery.fg-simple_portfolio .fg-item-inner .fg-caption {
    visibility: visible;
    opacity: 1;
    font-size: 13px;
    position: relative;
    display: block;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    text-transform: none;
    transform: none;
    transition: none;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
}
.foogallery.fg-simple_portfolio .fg-item-inner:hover .fg-caption {
    transform: none;
    transition: none;
}
.foogallery.fg-simple_portfolio .fg-item-inner .fg-caption-inner {
    display: block;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    border: none;
    transform: none;
    transition: none;
}
.foogallery.fg-simple_portfolio .fg-item-inner .fg-caption-inner:before {
    display: none;
}
.foogallery.fg-simple_portfolio.fg-caption-hover .fg-item-inner .fg-image-overlay {
    display: block;
}
.foogallery.fg-simple_portfolio.fg-caption-always .fg-item-inner:hover .fg-caption {
    visibility: visible;
    opacity: 1;
}

.fg-simple_portfolio .fg-caption-title {
    text-align: left;
}
.fg-simple_portfolio .fg-caption-desc {
    text-align: left;
}
.fg-simple_portfolio.fg-light .fg-caption,
.fg-simple_portfolio.fg-dark .fg-caption {
    color: #828282;
}
.fg-simple_portfolio.fg-light .fg-caption a,
.fg-simple_portfolio.fg-dark .fg-caption a {
    color: #828282;
    border-bottom: 1px solid #828282;
}
.fg-simple_portfolio.fg-light .fg-caption a:hover,
.fg-simple_portfolio.fg-dark .fg-caption a:hover {
    border-bottom: none;
}
.fg-simple_portfolio.fg-light .fg-caption-title,
.fg-simple_portfolio.fg-light .fg-caption-title a {
    color: #222;
}
.fg-simple_portfolio.fg-dark .fg-caption-title,
.fg-simple_portfolio.fg-dark .fg-caption-title a {
    color: #FFF;
}
.fg-simple_portfolio.fg-light .fg-caption-title a {
    border-bottom: 1px solid #222;
}
.fg-simple_portfolio.fg-dark .fg-caption-title a {
    border-bottom: 1px solid #FFF;
}

/* Handle Border Sizing */
.fg-simple_portfolio .fg-caption {
    border-width: 0;
}
.fg-simple_portfolio .fg-caption-title+.fg-caption-desc {
    margin-top: 4px;
}
.fg-simple_portfolio.fg-border-thin .fg-caption {
    border-width: 10px 4px 4px 4px;
}
.fg-simple_portfolio.fg-captions-top.fg-border-thin .fg-caption {
    border-width: 4px 4px 10px 4px;
}
.fg-simple_portfolio.fg-border-medium .fg-caption {
    border-width: 10px 0 0 0;
}
.fg-simple_portfolio.fg-captions-top.fg-border-medium .fg-caption {
    border-width: 0 0 10px 0;
}
.fg-simple_portfolio.fg-border-thick .fg-caption {
    border-width: 16px 0 0 0;
}
.fg-simple_portfolio.fg-captions-top.fg-border-thick .fg-caption {
    border-width: 0 0 16px 0;
}
.fg-simple_portfolio.fg-border-thick .fg-caption-title+.fg-caption-desc {
    margin-top: 10px;
}

/* Transparent Theme */
.fg-simple_portfolio.fg-transparent .fg-item-inner {
    background-color: transparent;
    color: #333;
    border-color: transparent;
}

/* Captions */
.fg-simple_portfolio.fg-transparent .fg-caption {
    color: #7f7f7f;
}
.fg-simple_portfolio.fg-transparent .fg-caption a {
    color: #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
}
.fg-simple_portfolio.fg-transparent .fg-caption a:hover {
    border-bottom: none;
}
.fg-simple_portfolio.fg-transparent .fg-caption-title,
.fg-simple_portfolio.fg-transparent .fg-caption-title a {
    color: #333;
}
.fg-simple_portfolio.fg-transparent .fg-caption-title a {
    border-bottom: 1px solid #333;
}

/* Rounded Corners */
.fg-simple_portfolio.fg-transparent.fg-round-full .fg-item,
.fg-simple_portfolio.fg-transparent.fg-round-full .fg-item-inner {
    border-radius: 15px;
}
.fg-simple_portfolio.fg-transparent.fg-round-full .fg-image-wrap,
.fg-simple_portfolio.fg-transparent.fg-round-full .fg-image-overlay,
.fg-simple_portfolio.fg-transparent.fg-round-full.fg-shadow-inset-small .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-full.fg-shadow-inset-medium .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-full.fg-shadow-inset-large .fg-thumb:after {
    border-radius: 50%;
    overflow: hidden;
}

.fg-simple_portfolio.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-simple_portfolio.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay,
.fg-simple_portfolio.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-simple_portfolio.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay,
.fg-simple_portfolio.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-simple_portfolio.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
    overflow: hidden;
}
.fg-simple_portfolio.fg-transparent.fg-round-small.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-small.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-small.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-simple_portfolio.fg-transparent.fg-round-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
    border-radius: 5px;
}
.fg-simple_portfolio.fg-transparent.fg-round-medium.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-medium.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-medium.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-simple_portfolio.fg-transparent.fg-round-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
    border-radius: 10px;
}
.fg-simple_portfolio.fg-transparent.fg-round-large.fg-shadow-inset-small:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-large.fg-shadow-inset-medium:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-large.fg-shadow-inset-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-thumb:after,
.fg-simple_portfolio.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-wrap,
.fg-simple_portfolio.fg-transparent.fg-round-large:not(.fg-shadow-outline):not(.fg-shadow-small):not(.fg-shadow-medium):not(.fg-shadow-large) .fg-image-overlay {
    border-radius: 15px;
}

/* Shadows */
.fg-simple_portfolio.fg-transparent.fg-shadow-inset-small .fg-thumb:after {
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.3);
}
.fg-simple_portfolio.fg-transparent.fg-shadow-inset-medium .fg-thumb:after {
    box-shadow: inset 0 1px 10px 0 rgba(0,0,0,0.3);
}
.fg-simple_portfolio.fg-transparent.fg-shadow-inset-large .fg-thumb:after {
    box-shadow: inset 0 1px 16px 0 rgba(0,0,0,0.3);
}

.fg-simple_portfolio.fg-transparent.fg-shadow-outline .fg-item-inner {
    box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.5);
}
.fg-simple_portfolio.fg-transparent.fg-shadow-small .fg-item-inner {
    box-shadow: 0 1px 4px 0 rgba(128, 128, 128, 0.5);
}
.fg-simple_portfolio.fg-transparent.fg-shadow-medium .fg-item-inner {
    box-shadow: 0 1px 10px 0 rgba(128, 128, 128, 0.5);
}
.fg-simple_portfolio.fg-transparent.fg-shadow-large .fg-item-inner {
    box-shadow: 0 1px 16px 0 rgba(128, 128, 128, 0.5);
}
/* Polaroid */
.foogallery.fg-preset.fg-polaroid .fg-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform 0.35s, background-color 0.65s;
}
.foogallery.fg-preset.fg-polaroid .fg-item:nth-child(2n+1) {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}
.foogallery.fg-preset.fg-polaroid .fg-item:nth-child(2n) {
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.foogallery.fg-preset.fg-polaroid .fg-item:nth-child(3n) {
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
.foogallery.fg-preset.fg-polaroid .fg-item:nth-child(5n) {
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.foogallery.fg-preset.fg-polaroid .fg-item:hover {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

.foogallery.fg-preset.fg-polaroid .fg-caption {
	position: relative;
	width: auto;
	font-family: "Segoe Print Regular",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.foogallery.fg-preset.fg-polaroid .fg-caption-inner,
.foogallery.fg-preset.fg-polaroid .fg-caption-title {
	position: relative;
	width: auto;
}
.foogallery.fg-preset.fg-polaroid .fg-caption-title {
	text-align: center;
}
.foogallery.fg-preset.fg-polaroid .fg-caption-desc {
	display: none;
}

/* Themes */
.foogallery.fg-preset.fg-polaroid .fg-caption-title,
.foogallery.fg-light.fg-preset.fg-polaroid .fg-caption-title {
	color: #333;
}
.foogallery.fg-dark.fg-preset.fg-polaroid .fg-caption-title {
	color: #FFF;
}

/* Handle Border Sizing */
.foogallery.fg-preset.fg-polaroid .fg-caption {
	border-style: solid;
	border-color: transparent;
	border-width: 10px;
}
.foogallery.fg-preset.fg-polaroid .fg-caption-title+.fg-caption-desc {
	margin-top: 4px;
}
.foogallery.fg-preset.fg-polaroid.fg-border-thin .fg-caption {
	border-width: 10px 4px 4px 4px;
}
.foogallery.fg-preset.fg-polaroid.fg-captions-top.fg-border-thin .fg-caption {
	border-width: 4px 4px 10px 4px;
}
.foogallery.fg-preset.fg-polaroid.fg-border-medium .fg-caption {
	border-width: 10px 0 0 0;
}
.foogallery.fg-preset.fg-polaroid.fg-captions-top.fg-border-medium .fg-caption {
	border-width: 0 0 10px 0;
}
.foogallery.fg-preset.fg-polaroid.fg-border-thick .fg-caption {
	border-width: 16px 0 0 0;
}
.foogallery.fg-preset.fg-polaroid.fg-captions-top.fg-border-thick .fg-caption {
	border-width: 0 0 16px 0;
}
.foogallery.fg-preset.fg-polaroid.fg-border-thick .fg-caption-title+.fg-caption-desc {
	margin-top: 10px;
}
/* Base styles */
.fg-image-viewer {
	display: block;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.fg-image-viewer.fg-left {
	text-align: left;
}

.fg-image-viewer.fg-center {
	text-align: center;
}
.fg-image-viewer.fg-right {
	text-align: right;
}

.fiv-inner {
	position: relative;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	z-index: 6;
}
.fiv-inner .fiv-inner-container {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 4px;
	z-index: 5;
}
.fg-image-viewer .fiv-inner .fiv-inner-container .fg-item .fg-thumb,
.fg-image-viewer .fiv-inner .fiv-inner-container .fg-item .fg-thumb:hover,
.fg-image-viewer .fiv-inner .fiv-inner-container .fg-item .fg-thumb:active,
.fg-image-viewer .fiv-inner .fiv-inner-container .fg-item .fg-thumb:visited {
	position: relative;
	display: block;
	border: none;
	outline: none;
	text-decoration: none;
	box-shadow: none;
	max-width: 100%;
}

.fg-image-viewer .fiv-inner .fiv-inner-container .fg-item {
	position: absolute;
	visibility: visible;
	opacity: 1;
	border: none;
	outline: none;
	text-decoration: none;
	box-shadow: none;
	max-width: 100%;
}
.fg-image-viewer .fiv-inner .fiv-inner-container .fg-item:first-of-type {
	position: relative;
}
.fg-image-viewer .fiv-inner .fiv-inner-container .fg-item .fg-thumb img {
	display: block;
	max-width: 100%;
	height: auto;
	border: none;
	outline: none;
	text-decoration: none;
}

.fg-image-viewer .fiv-inner .fiv-ctrls {
	display: block;
	text-align: center;
	font-size: 14px;
	border-style: solid;
	line-height: 34px;
}
.fg-image-viewer .fiv-inner .fiv-ctrls:after {
	content: '';
	display: block;
	clear: both;
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-count {
	display: inline-block;
	font-weight: normal;
	margin: 0;
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev,
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
	min-width: 80px;
	position: relative;
	overflow: hidden;
	transition: background-color .3s;
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev:before,
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next:before {
	display: block;
	position: absolute;
	font-size: 24px;
	line-height: 30px;
	top:0;
	left:0;
	width: 100%;
	transform: translateY(0);
	transition: transform .3s;
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev:hover:before,
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next:hover:before {
	transform: translateY(-100%);
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev span,
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next span {
	display: block;
	width: 100%;
	transform: translateY(100%);
	transition: transform .3s;
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev:hover span,
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next:hover span {
	transform: translateY(0);
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev {
	float: left;
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev:before {
	content: '\2190';
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next {
	float: right;
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next:before {
	content: '\2192';
}
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-count span {
	margin: 0 4px;
}

/*!* Theme - Default (Light) *!*/
/*.fg-image-viewer .fiv-inner,*/
/*.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev,*/
/*.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next {*/
	/*background-color: #FFFFFF;*/
	/*color: #1b1b1b;*/
/*}*/
/*.fg-image-viewer .fiv-inner,*/
/*.fg-image-viewer .fiv-inner .fiv-inner-container,*/
/*.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev,*/
/*.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next {*/
	/*border-color: #e6e6e6;*/
/*}*/
/*.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev:hover,*/
/*.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next:hover {*/
	/*background-color: #F2F2F2;*/
/*}*/

/*!* Theme - Dark *!*/
/*.fg-image-viewer.fiv-dark .fiv-inner,*/
/*.fg-image-viewer.fiv-dark .fiv-inner .fiv-ctrls .fiv-prev,*/
/*.fg-image-viewer.fiv-dark .fiv-inner .fiv-ctrls .fiv-next {*/
	/*background-color: #151515;*/
	/*color: #FFFFFF;*/
/*}*/
/*.fg-image-viewer.fiv-dark .fiv-inner,*/
/*.fg-image-viewer.fiv-dark .fiv-inner .fiv-inner-container,*/
/*.fg-image-viewer.fiv-dark .fiv-inner .fiv-ctrls .fiv-prev,*/
/*.fg-image-viewer.fiv-dark .fiv-inner .fiv-ctrls .fiv-next {*/
	/*border-color: #2E2E2E;*/
/*}*/
/*.fg-image-viewer.fiv-dark .fiv-inner .fiv-ctrls .fiv-prev:hover,*/
/*.fg-image-viewer.fiv-dark .fiv-inner .fiv-ctrls .fiv-next:hover {*/
	/*background-color: #000000;*/
/*}*/

/* Captions */

.foogallery.fg-image-viewer.fg-caption-always .fg-item-inner .fg-caption {
	padding: 0;
	border: none;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%,  rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,  rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,  rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.foogallery.fg-image-viewer.fg-caption-always .fg-caption-title {
	padding: 10px 10px 10px 10px;
}
.foogallery.fg-image-viewer.fg-caption-always .fg-caption-desc {
	padding: 10px 10px 10px 10px;
}
.foogallery.fg-image-viewer.fg-caption-always .fg-caption-title+.fg-caption-desc {
	padding: 0 10px 10px 10px;
}

/* Theme - Default (Light) */
.fg-image-viewer.fg-light .fiv-inner .fiv-ctrls,
.fg-image-viewer.fg-light .fiv-inner .fiv-inner-container,
.fg-image-viewer.fg-light .fiv-inner .fiv-ctrls .fiv-count,
.fg-image-viewer.fg-light .fiv-inner .fiv-ctrls .fiv-prev,
.fg-image-viewer.fg-light .fiv-inner .fiv-ctrls .fiv-next {
	background-color: #FFF;
	color: #333;
	border-color: #FFF;
}
.fg-image-viewer.fg-light .fiv-inner .fiv-ctrls .fiv-prev:hover,
.fg-image-viewer.fg-light .fiv-inner .fiv-ctrls .fiv-next:hover {
	background-color: #F2F2F2;
}
.fg-image-viewer.fg-light .fiv-prev,
.fg-image-viewer.fg-light .fiv-next {
	box-shadow: inset 0 0 0 1px #ddd;
}

/* Theme - Dark */
.fg-image-viewer.fg-dark .fiv-inner .fiv-ctrls,
.fg-image-viewer.fg-dark .fiv-inner .fiv-inner-container,
.fg-image-viewer.fg-dark .fiv-inner .fiv-ctrls .fiv-count,
.fg-image-viewer.fg-dark .fiv-inner .fiv-ctrls .fiv-prev,
.fg-image-viewer.fg-dark .fiv-inner .fiv-ctrls .fiv-next {
	background-color: #333;
	color: #FFF;
	border-color: #333;
}
.fg-image-viewer.fg-dark .fiv-inner .fiv-ctrls .fiv-prev:hover,
.fg-image-viewer.fg-dark .fiv-inner .fiv-ctrls .fiv-next:hover {
	background-color: #444;
}
.fg-image-viewer.fg-dark .fiv-prev,
.fg-image-viewer.fg-dark .fiv-next {
	box-shadow: inset 0 0 0 1px #222;
}

/* Border Size */
.foogallery.fg-image-viewer.fg-border-thin .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-thick .fg-item-inner {
	border-width: 0;
}
.foogallery.fg-image-viewer .fiv-ctrls,
.foogallery.fg-image-viewer.fg-border-thin .fiv-inner-container {
	border-width: 4px;
}
.foogallery.fg-image-viewer.fg-border-medium .fiv-ctrls,
.foogallery.fg-image-viewer.fg-border-medium .fiv-inner-container {
	border-width: 10px;
}
.foogallery.fg-image-viewer.fg-border-thick .fiv-ctrls,
.foogallery.fg-image-viewer.fg-border-thick .fiv-inner-container {
	border-width: 16px;
}
.foogallery.fg-image-viewer .fiv-ctrls,
.foogallery.fg-image-viewer.fg-border-thin .fiv-ctrls,
.foogallery.fg-image-viewer.fg-border-medium .fiv-ctrls,
.foogallery.fg-image-viewer.fg-border-thick .fiv-ctrls {
	border-top-width: 1px;
}

/* Rounded Corners */
.foogallery.fg-image-viewer.fg-round-small .fg-item,
.foogallery.fg-image-viewer.fg-round-small .fg-item-inner,
.foogallery.fg-image-viewer.fg-round-small .fiv-inner {
	border-radius: 5px;
}
.foogallery.fg-image-viewer.fg-round-small .fg-item,
.foogallery.fg-image-viewer.fg-round-small .fg-item-inner {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.foogallery.fg-image-viewer.fg-round-small .fiv-prev,
.foogallery.fg-image-viewer.fg-round-small .fiv-next {
	border-radius: 3px;
}

.foogallery.fg-image-viewer.fg-border-thin.fg-round-small .fg-item,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-small .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-small .fiv-prev,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-small .fiv-next,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-small .fg-item,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-small .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-small .fiv-prev,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-small .fiv-next,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-small .fg-item,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-small .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-small .fiv-prev,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-small .fiv-next {
	border-radius: 3px;
}

.foogallery.fg-image-viewer.fg-round-medium .fg-item,
.foogallery.fg-image-viewer.fg-round-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-round-medium .fiv-inner {
	border-radius: 10px;
}
.foogallery.fg-image-viewer.fg-round-medium .fg-item,
.foogallery.fg-image-viewer.fg-round-medium .fg-item-inner {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.foogallery.fg-image-viewer.fg-round-medium .fiv-prev,
.foogallery.fg-image-viewer.fg-round-medium .fiv-next {
	border-radius: 5px;
}
.foogallery.fg-image-viewer.fg-border-thin.fg-round-medium .fg-item,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-medium .fiv-prev,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-medium .fiv-next {
	border-radius: 5px;
}
.foogallery.fg-image-viewer.fg-border-medium.fg-round-medium .fg-item,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-medium .fiv-prev,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-medium .fiv-next,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-medium .fg-item,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-medium .fiv-prev,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-medium .fiv-next {
	border-radius: 3px;
}

.foogallery.fg-image-viewer.fg-round-large .fg-item,
.foogallery.fg-image-viewer.fg-round-large .fg-item-inner,
.foogallery.fg-image-viewer.fg-round-large .fiv-inner {
	border-radius: 15px;
}
.foogallery.fg-image-viewer.fg-round-large .fg-item,
.foogallery.fg-image-viewer.fg-round-large .fg-item-inner {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.foogallery.fg-image-viewer.fg-round-large .fiv-prev,
.foogallery.fg-image-viewer.fg-round-large .fiv-next {
	border-radius: 11px;
}
.foogallery.fg-image-viewer.fg-border-thin.fg-round-large .fg-item,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-large .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-large .fiv-prev,
.foogallery.fg-image-viewer.fg-border-thin.fg-round-large .fiv-next {
	border-radius: 11px;
}

.foogallery.fg-image-viewer.fg-border-medium.fg-round-large .fg-item,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-large .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-large .fiv-prev,
.foogallery.fg-image-viewer.fg-border-medium.fg-round-large .fiv-next {
	border-radius: 5px;
}

.foogallery.fg-image-viewer.fg-border-thick.fg-round-large .fg-item,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-large .fg-item-inner,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-large .fiv-prev,
.foogallery.fg-image-viewer.fg-border-thick.fg-round-large .fiv-next {
	border-radius: 3px;
}

.foogallery.fg-image-viewer.fg-round-full .fiv-inner,
.foogallery.fg-image-viewer.fg-round-full .fiv-prev,
.foogallery.fg-image-viewer.fg-round-full .fiv-next {
	border-radius: 50%;
}

/* Drop Shadows */
.foogallery.fg-image-viewer.fg-light.fg-shadow-outline .fg-item-inner,
.foogallery.fg-image-viewer.fg-dark.fg-shadow-outline .fg-item-inner,
.foogallery.fg-image-viewer.fg-light.fg-shadow-small .fg-item-inner,
.foogallery.fg-image-viewer.fg-dark.fg-shadow-small .fg-item-inner,
.foogallery.fg-image-viewer.fg-light.fg-shadow-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-dark.fg-shadow-medium .fg-item-inner,
.foogallery.fg-image-viewer.fg-light.fg-shadow-large .fg-item-inner,
.foogallery.fg-image-viewer.fg-dark.fg-shadow-large .fg-item-inner {
	box-shadow: none;
}

.foogallery.fg-image-viewer.fg-light.fg-shadow-outline .fiv-inner {
	box-shadow: 0 0 0 1px #ddd;
}
.foogallery.fg-image-viewer.fg-dark.fg-shadow-outline .fiv-inner {
	box-shadow: 0 0 0 1px #222;
}
.foogallery.fg-image-viewer.fg-light.fg-shadow-small .fiv-inner,
.foogallery.fg-image-viewer.fg-dark.fg-shadow-small .fiv-inner {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
.foogallery.fg-image-viewer.fg-light.fg-shadow-medium .fiv-inner,
.foogallery.fg-image-viewer.fg-dark.fg-shadow-medium .fiv-inner {
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
}
.foogallery.fg-image-viewer.fg-light.fg-shadow-large .fiv-inner,
.foogallery.fg-image-viewer.fg-dark.fg-shadow-large .fiv-inner {
	box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.5);
}
.foogallery.fg-thumbnail,
.foogallery.fg-thumbnail.fg-center {
	text-align: center;
}
.foogallery.fg-thumbnail.fg-left {
	text-align: left;
}
.foogallery.fg-thumbnail.fg-right {
	text-align: right;
}

.foogallery.fg-thumbnail.fg-float-left {
	float: left;
	width: auto;
}
.foogallery.fg-thumbnail.fg-float-right {
	float: right;
	width: auto;
}

.foogallery.fg-thumbnail .fg-item {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}
.foogallery.fg-thumbnail .fg-image {
	max-width: 100%;
}
.foogallery.fg-thumbnail .fg-st-hidden {
	display: none;
}
.foogallery-stack-album {
    text-align: center;
    overflow: hidden;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
}
.foogallery-stack-album,
.foogallery-stack-album * {
    box-sizing: border-box;
}

.foogallery-stack-album.fg-align-left {
    text-align: left;
}
.foogallery-stack-album.fg-align-center {
    text-align: center;
}
.foogallery-stack-album.fg-align-right {
    text-align: right;
}

.foogallery-stack-album.fg-disable-transitions,
.foogallery-stack-album.fg-disable-transitions * {
    transition: none !important;
}

.fg-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}

.fg-header-title {
    display: block;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    text-align: left;
}

.fg-header-active {
    display: block;
    margin: 0;
    padding: 0 20px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    text-align: right;
    transition-property: opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.fg-header-back {
    display: block;
    padding: 0;
    margin: 5px;
    visibility: hidden;
    opacity: 0;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    color: #999;
    background: #ddd;
    background: rgba(200,200,200,0.5);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-property: opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.fg-has-active .fg-header-back,
.fg-has-active .fg-header-active {
    visibility: visible;
    opacity: 1;
}


.fg-piles {
    display: inline-block;
    position: relative;
    transition-property: width, height;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.fg-pile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: visible;
    opacity: 1;
    transition-property: opacity, visibility, top, left, width, height;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.fg-pile.fg-hidden {
    visibility: hidden;
    opacity: 0;
}

.fg-pile-item {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    border: 10px solid #fff;
    background-color: #FFF;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    transition-property: opacity, visibility, top, left, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    transform: rotate(0deg);
}

.fg-expanded .fg-pile-item {
    z-index: 2;
    transform: rotate(0deg) !important;
}
.fg-pile-item.fg-has-cover {
    z-index: 10;
    transform: rotate(0deg) !important;
}

.fg-pile-item:nth-child(2) {
    z-index: 9;
}
.fg-pile-item:nth-child(3) {
    z-index: 8;
}
.fg-pile-item:nth-child(4) {
    z-index: 7;
}
.fg-pile-item:nth-child(1n+5) {
    visibility: hidden;
    opacity: 0;
}
.fg-expanded .fg-pile-item:nth-child(1n+4) {
    visibility: visible;
    opacity: 1;
}

.fg-pile-item-thumb {
    display: block;
}

.fg-pile-item-image {
    display: block;
}

.fg-pile-item-caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgba(68, 68, 68, 0.5);
    color: #FFFFFF;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
.fg-pile-item-title {
    display: block;
    width: 100%;
    padding: 0 0 10px;
}
.fg-pile-item-desc {
    display: block;
    width: 100%;
    max-height: 100%;
    border-top: solid 1px currentColor;
    padding: 10px 0 0;
    overflow: hidden;
}

.fg-pile-item-thumb:hover .fg-pile-item-caption {
    visibility: visible;
    opacity: 1;
}

.fg-pile-cover {
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-property: opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.fg-expanded .fg-pile-cover {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.fg-pile-cover-content {
    display: flex;
    position: relative;
    background: #fff;
    color: #333;
    width: 75%;
    font-weight: 700;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 5px 0 5px -3px rgba(0,0,0,0.4), inset 0 0 5px rgba(0,0,0,0.04);
}

.fg-pile-cover-title {
    text-align: center;
    padding: 10px;
    width: 100%;
}
.fg-pile-cover-count {
    color: #aaa;
    padding: 10px 5px;
    background: #F7F7F7;
    height: 100%;
}